@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* || REST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --YELLOW: #F4D04E;
    --GRAY-950: #111;
    --GRAY-500: #6B6B6B;
    --WHITE: #FFF;

    /* SHADOWS */
    --CARD-SHADOW: 8px 8px 0px 0px #000;

    /* TYPOGRAPHY */
    --FF: "Figtree", sans-serif;

    /* TYPOGRAPHY - DESKTOP */
    --TEXT-PRESET-1-DSK: 800 1.5rem/150% var(--FF);
    --TEXT-PRESET-2-DSK: 500 1rem/150% var(--FF);
    --TEXT-PRESET-3-DSK: 500 .875rem/150% var(--FF);
    --TEXT-PRESET-3-BOLD-DSK: 800 .875rem/150% var(--FF);

    /* TYPOGRAPHY - MOBILE */
    --TEXT-PRESET-1-MOB: 800 1.25rem/150% var(--FF);
    --TEXT-PRESET-2-MOB: 500 .875rem/150% var(--FF);
    --TEXT-PRESET-3-MOB: 500 .75rem/150% var(--FF);
    --TEXT-PRESET-3-BOLD-MOB: 800 .75rem/150% var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.responsive-image {
    display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--YELLOW);
    display: grid;
    place-content: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

a:any-link {
    text-decoration: none;
}

/* || BLOG-CARD */
.blog-card {
    width: 327px;
    min-height: 501px;
    border-radius: 20px;
    border: 1px solid var(--GRAY-950);
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    margin: auto 1.5rem;
    box-shadow: var(--CARD-SHADOW);
    background-color: var(--WHITE);
}

.blog-card__hero-image {
    border-radius: 10px;
    width: 279px;
    height: 200px;
    overflow: hidden;
}

.blog-card__hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card__content {
    display: flex;
    flex-flow: column;
    gap: .75rem;
}

.blog-card__label {
    width: 73px;
    height: 26px;
    padding: .25rem .75rem;
    background-color: var(--YELLOW);
    color: var(--GRAY-950);
    border-radius: 4px;
    font: var(--TEXT-PRESET-3-BOLD-MOB);
}

.blog-card__publish-date {
    color: var(--GRAY-950);
    font: var(--TEXT-PRESET-3-MOB);
}

.blog-card__title {
    color: var(--GRAY-950);
    font: var(--TEXT-PRESET-1-MOB);
}

.blog-card__description {
    color: var(--GRAY-500);
    font: var(--TEXT-PRESET-2-MOB);
}

.blog-card__avatar-group {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.blog-card__avatar-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.blog-card__avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card__author-name {
    color: var(--GRAY-950);
    font: var(--TEXT-PRESET-3-BOLD-DSK);
}

@media screen and (min-width: 992px) {

    /* || BLOG-CARD */
    .blog-card {
        width: 384px;
        min-height: 522px;
        margin: auto 33rem;
    }

    .blog-card__hero-image {
        width: 336px;
    }

    .blog-card__label {
        width: 82px;
        height: 29px;
        font: var(--TEXT-PRESET-3-BOLD-DSK);
    }

    .blog-card__publish-date {
        color: var(--GRAY-950);
        font: var(--TEXT-PRESET-3-MOB);
    }

    .blog-card__title {
        font: var(--TEXT-PRESET-1-DSK);
        cursor: pointer;
        transition: color 0.5s ease;
    }

    .blog-card__title:hover {
        color: var(--YELLOW);
    }

    .blog-card__description {
        font: var(--TEXT-PRESET-2-DSK);
    }

    .blog-card__avatar-group {
        display: flex;
        align-items: center;
        gap: .75rem;
    }
}